In [1]:
import networkx

the default index of set will be different everytime run the nx.connected_components

In [2]:
import json
import csv
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
relationship = pd.read_csv('catchment_relationship.csv',dtype=str)
st1=set(relationship.station_id)
st2=set(relationship.upstream_id)
stationid=st1.union(st2)

In [4]:
relationship

   station_id upstream_id
0         625         624
1         570         569
2         627         626
3         628         625
4         628         627
..        ...         ...
93        575         659
94        660         575
95        649         648
96        579         671
97        673         579

[98 rows x 2 columns]

In [5]:
edgelist = []
for i in range(len(relationship)):
    edgs=[relationship.station_id[i],relationship.upstream_id[i]]
    edges=tuple(edgs)
    edgelist.append(edges)

In [ ]:
edgelist

### build graph

In [7]:
import networkx as nx
G = nx.Graph()
G.add_nodes_from(stationid)
G.add_edges_from(edgelist)

In [8]:
connectedcom=[]

for g in nx.connected_components(G):
    nodes=g
    nodelist=[]
    for node in nodes:
        nodelist.append(node)
    connectedcom.append(nodelist)

In [ ]:
connectedcom

### set 5 data

In [19]:
df_648 = pd.read_csv('Iowa_small/data_time_series/648_data.csv')
df_649 = pd.read_csv('Iowa_small/data_time_series/649_data.csv')

In [ ]:
#set 5
x=range(len(df_648.discharge))
plt.plot(x,df_649.discharge,label='649')
plt.plot(x,df_648.discharge,label='648')
plt.legend()

### set 10

In [54]:
#set 10: ['654', '653']
df_654 = pd.read_csv('Iowa_small/data_time_series/654_data.csv')
df_653 = pd.read_csv('Iowa_small/data_time_series/653_data.csv')

In [ ]:
x=range(len(df_654.discharge))
plt.plot(x,df_654.discharge,label='654')
plt.plot(x,df_653.discharge,label='653')
plt.legend()

In [ ]:
df_654.datetime[39000:45000]

In [53]:
#df_654.datetime[58000:]
df_654.sort_values(by='discharge', inplace=True, ascending=False)
df_654[1:20]

,datetime,precipitation,et,discharge,travel_time,area,slope,loam,silt,sandy_clay_loam,silty_clay_loam
14529,2013-05-28 09:00:00,0.020600,48,19375.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14531,2013-05-28 11:00:00,0.000000,48,19300.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14528,2013-05-28 08:00:00,0.010657,48,18850.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14532,2013-05-28 12:00:00,0.000000,48,18775.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14533,2013-05-28 13:00:00,0.000000,48,17850.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14527,2013-05-28 07:00:00,0.006257,48,17425.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14534,2013-05-28 14:00:00,0.001353,48,17250.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14526,2013-05-28 06:00:00,0.000000,48,16525.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
14535,2013-05-28 15:00:00,0.035602,48,16475.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61168,2018-09-22 16:00:00,0.000000,52,16400.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61169,2018-09-22 17:00:00,0.000000,52,16400.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61170,2018-09-22 18:00:00,0.000000,52,16400.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61167,2018-09-22 15:00:00,0.000000,52,16275.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61171,2018-09-22 19:00:00,0.000000,52,16275.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61172,2018-09-22 20:00:00,0.000000,52,16125.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61166,2018-09-22 14:00:00,0.000000,52,16100.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61173,2018-09-22 21:00:00,0.000000,52,15975.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61165,2018-09-22 13:00:00,0.000000,52,15875.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255
61174,2018-09-22 22:00:00,0.000000,52,15725.0,53.0,2301.0,0.00165,0.009351,0.099034,0.016361,0.875255

### set 8

In [21]:
df_557 = pd.read_csv('Iowa_small/data_time_series/557_data.csv')
df_622 = pd.read_csv('Iowa_small/data_time_series/622_data.csv')
df_556 = pd.read_csv('Iowa_small/data_time_series/556_data.csv')

In [ ]:
#set 8
x=range(len(df_557.discharge))
plt.plot(x,df_622.discharge,label='622')
plt.plot(x,df_556.discharge,label='556')
plt.plot(x,df_557.discharge,label='557')
plt.legend()

In [25]:
#set 1: '519', '586', '585'
df_519 = pd.read_csv('Iowa_small/data_time_series/519_data.csv')
df_585 = pd.read_csv('Iowa_small/data_time_series/585_data.csv')
df_586 = pd.read_csv('Iowa_small/data_time_series/586_data.csv')

In [ ]:
x=range(len(df_519.discharge))
plt.plot(x,df_586.discharge,label='586')
plt.plot(x,df_585.discharge,label='585')
plt.plot(x,df_519.discharge,label='519')
plt.legend()

### set 9

In [28]:
#set 9: ['590', '591', '526']
df_591 = pd.read_csv('Iowa_small/data_time_series/591_data.csv')
df_590 = pd.read_csv('Iowa_small/data_time_series/590_data.csv')
df_526 = pd.read_csv('Iowa_small/data_time_series/526_data.csv')

In [ ]:
x=range(len(df_591.discharge))
plt.plot(x,df_591.discharge,label='591')
plt.plot(x,df_590.discharge,label='590')
plt.plot(x,df_526.discharge,label='526')
plt.legend()

In [ ]:
df_591.datetime[52000:]

### set 13

In [30]:
#set 13: '659', '660', '575'
df_660 = pd.read_csv('Iowa_small/data_time_series/660_data.csv')
df_575 = pd.read_csv('Iowa_small/data_time_series/575_data.csv')
df_659 = pd.read_csv('Iowa_small/data_time_series/659_data.csv')

In [ ]:
x=range(len(df_660.discharge))
plt.plot(x,df_660.discharge,label='660')
plt.plot(x,df_575.discharge,label='575')
plt.plot(x,df_659.discharge,label='659')
plt.legend()

### Set 14

In [32]:
#set 14: '673', '579', '671'
df_673 = pd.read_csv('Iowa_small/data_time_series/673_data.csv')
df_579 = pd.read_csv('Iowa_small/data_time_series/579_data.csv')
df_671 = pd.read_csv('Iowa_small/data_time_series/671_data.csv')

In [ ]:
x=range(len(df_673.discharge))
plt.plot(x,df_673.discharge,label='663')
plt.plot(x,df_579.discharge,label='579')
plt.plot(x,df_671.discharge,label='671')
plt.legend()

### Set 15

In [35]:
#set 15: '656', '658', '657'
df_658 = pd.read_csv('Iowa_small/data_time_series/658_data.csv')
df_657 = pd.read_csv('Iowa_small/data_time_series/657_data.csv')
df_656 = pd.read_csv('Iowa_small/data_time_series/656_data.csv')

In [ ]:
x=range(len(df_658.discharge))
plt.plot(x,df_658.discharge,label='658')
plt.plot(x,df_657.discharge,label='657')
plt.plot(x,df_656.discharge,label='656')
plt.legend()

In [ ]:
df_658.datetime[48000:]

### # of CC

In [38]:
len(connectedcom)

15

In [ ]:
# csv
path ="Iowa_small/data_time_series"
outputpath ="Iowa_small/time_series"
j=0
for cc in connectedcom:
    j=j+1
    print('processing set'+str(j))
    for station in cc:
        print('processiong station:'+station)
        filename=path+'/'+station+'_data.csv'
        #print('filename:'+filename)
        X = pd.read_csv(filename)
        X['stationid']=station
        for i in range(len(X)):#len(X)):
            newfilename=X.datetime[i]
            filepath=outputpath+'/'+'set'+str(j)+'/'+newfilename+'.csv'
            if os.path.exists(filepath):
                X.loc[:,'precipitation':'stationid'].loc[[i],:].to_csv(filepath,mode='a', header=False, index=False)
                #X.loc[[i],:].to_csv(filepath,mode='a', header=False, index=False)
            else:
                X.loc[:,'precipitation':'stationid'].loc[[i],:].to_csv(filepath, index=False)

In [ ]:
df_658.datetime[48000:]

In [ ]:
path='Iowa_small/set5'
files = [f for f in os.listdir(path) if f.endswith('.csv')]
#files = os.listdir(outputpath)
completefiles=[]
for file in files:
    X = pd.read_csv(path+'/'+file)
    num=0
    for i in range(len(X)):
        if(X.iloc[i,2]<=0):
            num=num+1
    if (num==0):
        completefiles.append(file)
        print(file)

In [68]:
output = open('Iowa_small/set5/data.txt','w',encoding='gbk')
output.write('completedata\n')
for row in completefiles:
    output.write(row)
    output.write('\n')
output.close()

In [ ]:
len(completefiles)

In [ ]:
path='Iowa_small/set9'
files = [f for f in os.listdir(path) if f.endswith('.csv')]
#files = os.listdir(outputpath)
completefiles=[]
for file in files:
    X = pd.read_csv(path+'/'+file)
    num=0
    for i in range(len(X)):
        if(X.iloc[i,2]<=0):
            num=num+1
    if (num==0):
        completefiles.append(file)
        print(file)

In [ ]:
len(completefiles)

In [72]:
output = open('Iowa_small/set9/data.txt','w',encoding='gbk')
output.write('completedata\n')
for row in completefiles:
    output.write(row)
    output.write('\n')
output.close()

In [ ]:
path='Iowa_small/set10'
files = [f for f in os.listdir(path) if f.endswith('.csv')]
#files = os.listdir(outputpath)
completefiles=[]
for file in files:
    X = pd.read_csv(path+'/'+file)
    num=0
    for i in range(len(X)):
        if(X.iloc[i,2]<=0):
            num=num+1
    if (num==0):
        completefiles.append(file)
        print(file)

In [ ]:
len(completefiles)

In [75]:
output = open('Iowa_small/set10/data.txt','w',encoding='gbk')
output.write('completedata\n')
for row in completefiles:
    output.write(row)
    output.write('\n')
output.close()

### Set 3(new)

In [ ]:
connectedcom[2]

In [ ]:
'608' in connectedcom[2]

In [ ]:
path='Iowa_small/data_time_series/'
for stat in connectedcom[2]:
    df=pd.read_csv(path+stat+'_data.csv')
    x=range(len(df.discharge))
    plt.plot(x,df.discharge,label=stat)
plt.legend()

### Set3(new set 1)

In [ ]:
connectedcom[0]

In [ ]:
'608' in connectedcom[0]

In [ ]:
path='Iowa_small/data_time_series/'
for stat in connectedcom[0]:
    df=pd.read_csv(path+stat+'_data.csv')
    x=range(len(df.discharge))
    plt.plot(x,df.discharge,label=stat)
plt.legend()

In [88]:
# csv
relapath ="Iowa_small/set3/relationshipset3.csv"
#outputpath ="Iowa_small/time_series"
set3rela=[]
for i in range(len(relationship)):
    if relationship.station_id[i] in connectedcom[2]:
        if os.path.exists(relapath):
            relationship.loc[[i],:].to_csv(relapath,mode='a', header=False, index=False)
                #X.loc[[i],:].to_csv(filepath,mode='a', header=False, index=False)
        else:
            relationship.loc[[i],:].to_csv(relapath, index=False)

In [ ]:
path='Iowa_small/set3'
files = [f for f in os.listdir(path) if f.endswith('.csv')]
#files = os.listdir(outputpath)
completefiles=[]
for file in files:
    X = pd.read_csv(path+'/'+file)
    num=0
    for i in range(len(X)):
        if(X.iloc[i,2]<=0):
            num=num+1
    if (num==0):
        completefiles.append(file)
        print(file)

In [ ]:
len(completefiles)

In [91]:
output = open('Iowa_small/set3/data.txt','w',encoding='gbk')
output.write('completedata\n')
for row in completefiles:
    output.write(row)
    output.write('\n')
output.close()

In [10]:
# csv
relapath ="Iowa_small/discharge/relationshipset2.csv"
#outputpath ="Iowa_small/time_series"
set2rela=[]
for i in range(len(relationship)):
    if relationship.station_id[i] in connectedcom[0]:
        if os.path.exists(relapath):
            relationship.loc[[i],:].to_csv(relapath,mode='a', header=False, index=False)
                #X.loc[[i],:].to_csv(filepath,mode='a', header=False, index=False)
        else:
            relationship.loc[[i],:].to_csv(relapath, index=False)