# Data Loading

- load in catchment relationship:

In [ ]:
import json
import csv
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [ ]:
import pymysql

In [ ]:
relationship = pd.read_csv(r'C:\Users\SseakomSui\Desktop\GNN Hydrology\Hydrology Data Imputation\3. data\1. original data\Iowa_small\catchment_relationship.csv')

In [ ]:
relationship

In [ ]:
stations=set(relationship)

In [ ]:
st1=set(relationship.station_id)

In [ ]:
st1

In [ ]:
path =r"C:\Users\SseakomSui\Desktop\GNN Hydrology\Hydrology Data Imputation\3. data\1. original data\Iowa_small\data_time_series"  #文件夹路径
file_names = os.listdir(path)

In [ ]:
print(len(file_names))

In [ ]:
station_names=[]
for file_name in file_names:
    name=file_name.split('.')[0]
    station=name.split('_')[0]
    station_names.append(station)

In [ ]:
print(len(station_names))

In [ ]:
station_names

import data in database

In [ ]:
pymysql_conn = pymysql.connect(
    user="root",
    password="",
    host="localhost",
    port=3306,
    autocommit=True,
    cursorclass=pymysql.cursors.DictCursor
)

In [ ]:
cursor = pymysql_conn.cursor()
sql = "select * from db_book.student"
res = cursor.execute(sql)
result = cursor.fetchall()

In [ ]:
df1 = pd.DataFrame(result)
df1

In [ ]:
%load_ext sql

In [ ]:
%sql select * from db_book.student where ID=12345

In [ ]:
mysql_user = "root" 
mysql_password = ""

mysql_url = f"mysql+pymysql://{mysql_user}:{mysql_password}@localhost"

In [ ]:
from sqlalchemy import create_engine
sql_engine = create_engine(mysql_url)

- Load relationship information into Neo4j

In [ ]:
%sql drop schema if exists lowa_small
%sql create schema lowa_small
%sql use lowa_small;

In [ ]:
relationship.to_sql("catchment_relationships", schema="lowa_small", con=sql_engine,index=False, if_exists="replace")

Load in Neo4j

In [ ]:
import py2neo

In [ ]:
NEO4J_URI=""
NEO4J_USERNAME=""
NEO4J_PASSWORD=""
AURA_INSTANCEID=""
AURA_INSTANCENAME="Instance01"

In [ ]:
from py2neo import Graph,Node, Relationship

my_graph =  Graph(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD))

In [ ]:
my_graph.delete_all()

In [ ]:
#load data into neo4j
#create characters

In [ ]:
%%sql
CREATE TABLE stations
(select distinct station_id as stationID
 from lowa_small.catchment_relationships)
union
(select distinct upstream_id as stationID
 from lowa_small.catchment_relationships);

In [ ]:
df=%sql select * from stations

In [ ]:
df = df.DataFrame()

In [ ]:
df

In [ ]:
for i in range(df.shape[0]):
    label="station"
    stationID=df.stationID[i]
    node = Node(label, stationID=stationID)
    my_graph.create(node)

In [ ]:
df_relationship=%sql select * from lowa_small.catchment_relationships

In [ ]:
df_relationship = df_relationship.DataFrame()

In [ ]:
df_relationship

In [ ]:
x='match (s:station {stationID:"'
y='"}), (t:station {stationID: "'
z='"})create (t)-[r:FLOWINTO]->(s)'
for i in range(df_relationship.shape[0]):
    name=df_relationship.station_id[i]
    name2=df_relationship.upstream_id[i]
    c=x+name+y+name2+z
    my_graph.run(c)

In [ ]:
df_658 = pd.read_csv('Iowa_small/data_time_series/658_data.csv')

In [ ]:
discharge=df_658.discharge

In [ ]:
x=range(len(discharge))

In [ ]:
x

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(x,discharge)

In [ ]:
df_611 = pd.read_csv('Iowa_small/data_time_series/611_data.csv')
df_612 = pd.read_csv('Iowa_small/data_time_series/612_data.csv')

In [ ]:
x=range(len(df_611.discharge))
plt.plot(x,df_611.discharge,label='611')
plt.plot(x,df_612.discharge,label='612')
plt.legend()

In [ ]:
df_546 = pd.read_csv('Iowa_small/data_time_series/546_data.csv')
df_600 = pd.read_csv('Iowa_small/data_time_series/600_data.csv')
df_599 = pd.read_csv('Iowa_small/data_time_series/599_data.csv')
df_598 = pd.read_csv('Iowa_small/data_time_series/598_data.csv')

In [ ]:
x=range(len(df_546.discharge))
plt.plot(x,df_546.discharge,label='546')
plt.plot(x,df_600.discharge,label='600')
plt.plot(x,df_599.discharge,label='599')
plt.plot(x,df_598.discharge,label='598')
plt.legend()

In [ ]:
df_ = pd.read_csv('Iowa_small/time_series/2011-10-01 00:00:00.csv')

In [ ]:
x=range(len(df_.discharge))
plt.scatter(x,df_.discharge)

In [ ]:
df_2 = pd.read_csv('Iowa_small/time_series/2018-08-17 01:00:00.csv')

In [ ]:
x=range(len(df_2.discharge))
plt.scatter(df_2.stationid,df_2.discharge)

In [ ]:
plt.scatter(x,df_2.discharge)

In [ ]:
df_2['discharge']

In [ ]:
df_2.sort_values(by='discharge', inplace=True, ascending=False)

In [ ]:
df_2

In [ ]:
df_3 = pd.read_csv('Iowa_small/time_series/2015-12-10 05:00:00.csv')
df_3.sort_values(by='discharge', inplace=True, ascending=False)
df_3